// app global css in SCSS form
@font-face {
  font-family: Questrial;
  src: url(./fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: ArchitectsDaughter;
  src: url(./fonts/ArchitectsDaughter-Regular.ttf);
}

// declare a class which applies it
* {
  font-family: 'Questrial';
  p{
    font-size: larger;
  };
}
.hand-police {
  font-family: 'ArchitectsDaughter', sans-serif !important;
}
.small-text{
  font-size: small;
}
.q-btn{
  min-width: 160px;
}
@import "./color.scss";

