@import "./quasar.variables.scss";

.hr {
  width: 100%;
  height: 10px;
  margin: 10px 0;
  background-image: url("/trame/hr.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.6;
}

.body--dark{
  .main-bg{
    background-color: $main-bg;
  }
  .contrasted-bg{
    background-color: $contrasted-bg;
  }
  .contrasted-plus-bg{
    background-color: $contrasted-plus-bg;
  }
  .light-bg{
    background-color: $light-bg ;
  }
  .lighter-bg{
    background-color:$lighter-bg;
  }
  .focus-bg{
    background-color: $focus-color ;
  }

  .main-color, .main-color *{
    color: $main-color;
  }
  .plus-color, .plus-color *{
    color: $plus-color;
  }
  .focus-color, .focus-color *{
    color: $focus-color;
  }
  .minus-color, .minus-color *{
    color: $minus-color;
  }
  .info-color, .info-color *{
    color: $info-color;
  }
  .contrasted-color{
    color: $contrasted-bg !important;
  }

  .focus-border{
    border: 2px solid $focus-color;
  }
  .blue-highlight-border{
    border: 2px solid $blue-highlight-color;
  }
  .blue-highlight-color{
    color: $blue-highlight-color
  }
  .backdrop{
    background-color: $contrasted-bg;
  }
  .danger-bg{
    background-color: $danger-color;
  }
  .danger-color{
    color: $danger-text !important;
  }

  .gradiant {
    background: linear-gradient(45deg, $light-bg 0%, $contrasted-bg 100%);
  }

  .gradiant-dark {
    background: linear-gradient(45deg, $main-bg 0%, $contrasted-bg 100%);
  }
  .meiumGradiant{
    background: linear-gradient(45deg, $light-bg 0%, $main-bg 100%);
  }
  .gradiantLight {
    background: linear-gradient(45deg, $lighter-bg 0%, $main-bg 100%);
  }
  .bird-background{
    background-image: url("/trame/empty_birds_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .info-quotes {
    transition: color .5s, left 0.5s ease-in-out, border-left 0.5s, padding-left 0.5s, margin-left 0.5s;
    padding-left: 10px;
    border-left: 3px solid $info-color;
  }

  .info-quotes:hover {
    color: $plus-color;
    border-left: 10px solid $focus-color;
    margin-left: -3px;
    padding-left: 6px
  }

  .btnStandard {
    background-color: transparent !important;
    border: 2px solid $blue-highlight-color !important;
    line-height: 34px;
    padding: 0 10px !important;

    .material-icons {
      color: $blue-highlight-color !important;
      transition: color 0.5s;
      margin-top: -2px;
    }

    color: $plus-color !important;
    transition: color 0.5s, border 0.5s;
  }

  .btnStandard:hover, .btnStandard:focus {
    .material-icons {
      color: $focus-color !important;

    }
    border: 2px solid $focus-color !important;
  }

  .btnFocus {
    border: 3px solid $focus-color;
    font-size: 120%;
    position: absolute;
    bottom: -75px;
    left: -5px;
    background-color: transparent;
    transition: color 0.5s, background-color 0.5s;
    &:hover{

      background-color: $contrasted-bg;
    }
  }
}




.body--light{
  .main-bg{
    background-color: $main-bg-light;
  }
  .contrasted-bg{
    background-color: $contrasted-bg-light;
  }
  .contrasted-plus-bg{
    background-color: $contrasted-plus-bg-light;
  }
  .light-bg{
    background-color: $light-bg-light ;
  }
  .lighter-bg{
    background-color:$lighter-bg-light;
  }
  .focus-bg{
    background-color: $focus-color-light ;
  }

  .main-color, .main-color *{
    color: $main-color-light;
  }
  .plus-color, .plus-color *{
    color: $plus-color-light;
  }
  .focus-color, .focus-color *{
    color: $focus-color-light;
  }
  .minus-color, .minus-color *{
    color: $minus-color-light;
  }
  .info-color, .info-color *{
    color: $info-color-light;
  }
  .contrasted-color{
    color: $contrasted-bg-light !important;
  }

  .focus-border{
    border: 2px solid $focus-color-light;
  }
  .blue-highlight-border{
    border: 2px solid $link-color-light;
  }
  .blue-highlight-color{
    color: $link-color-light
  }
  .backdrop{
    background-color: $contrasted-bg-light;
  }
  .danger-bg{
    background-color: $danger-color-light;
  }
  .danger-color{
    color: $danger-text-light !important;
  }

  .gradiant {
    background: linear-gradient(45deg, $main-bg-light 0%, $contrasted-bg-light 100%);
  }

  .gradiant-dark {
    background: linear-gradient(45deg, $main-bg-light 0%, $contrasted-bg-light 100%);
  }
  .meiumGradiant{
    background: linear-gradient(45deg, $light-bg-light 0%, $main-bg-light 100%);
  }
  .gradiantLight {
    background: linear-gradient(45deg, $lighter-bg-light 0%, $main-bg-light 100%);
  }
  .bird-background{
    background-image: url("/trame/empty_birds_bg_light.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .info-quotes {
    transition: color .5s, left 0.5s ease-in-out, border-left 0.5s, padding-left 0.5s, margin-left 0.5s;
    padding-left: 10px;
    border-left: 3px solid $info-color-light;
  }
  .info-quotes:hover {
    border-left: 10px solid $focus-color-light;
    margin-left: -3px;
    padding-left: 6px
  }

  .btnStandard {
    background-color: transparent !important;
    border: 2px solid $blue-highlight-color !important;
    line-height: 34px;
    padding: 0 10px !important;

    .material-icons {
      color: $blue-highlight-color !important;
      transition: color 0.5s;
      margin-top: -2px;
    }

    color: $blue-highlight-color !important;
    transition: color 0.5s, border 0.5s;
  }

  .btnStandard:hover, .btnStandard:focus {
    .material-icons {
      color: $focus-color-light !important;

    }
    color: $focus-color-light !important;
    border: 2px solid $focus-color-light !important;
  }
  .btnFocus {
    border: 3px solid $focus-color;
    font-size: 120%;
    position: absolute;
    bottom: -75px;
    left: -5px;
    background-color: transparent;
    transition: color 0.5s, background-color 0.5s;
    &:hover{

      background-color: $contrasted-bg-light;
    }
  }
}



